In [15]:
import happybase

# first establish the HBase connection
connection = happybase.Connection('localhost')

# Create and populate HBase table for each fetched CSV file

In [104]:
# create a table with a column family
def create_and_populate_hbase_table(code_name, csv_file_path):
    if not code_name:
        print "Please provide valid code name!"
        return None
    
    # load CSV file
    try:
        # there are two types of series, one is prefixed with "FRED", another is prefixed
        # with "YAHOO_INDEX", later we need to differentiate them to create different
        # kinds of HBase tables
        series = pd.read_csv(csv_file_path, sep=',', header=0)
    except:
        print "Failed to read csv file!"
        return None
    
    # create HBase table if not exist
    hbase_table_name = "Table_{}".format(code_name)
    try:
        connection.create_table(hbase_table_name, {'cf': {}})
    except Exception as e:
        if "table name already in use" in e.message:
            print "Table name already exists!"
    
    # establish connection to the table
    hbase_table = connection.table(hbase_table_name)

    # populate rows from CSV into HBase table rows
    # https://happybase.readthedocs.io/en/happybase-0.4/tutorial.html
    for i in range(len(series)):
        # need to differentiate code types by prefix
        if code_name.startswith("FRED"): # eg: "FRED_00XAPFEEM086NEST"
            date = series.DATE[i]
            value = series.VALUE[i]
            row_key = "row{}".format(i+1)
            row_content = {'cf:DATE': str(date), 'cf:VALUE': str(value)}
            
        elif code_name.startswith("YAHOO_INDEX"): # eg: "YAHOO_INDEX_GSPC"
            date = series.Date[i]
            adjusted_price = series['Adjusted Close'][i]
            row_key = "row{}".format(i+1)
            row_content = {'cf:DATE': str(date), 'cf:ADJUSTED_PRICE': str(adjusted_price)}
        
        else:
            pass
        
        hbase_table.put(row_key, row_content)

    # count populated row number for sanity check
    total_row = 0
    for key, data in hbase_table.scan():
        total_row += 1
        
    if total_row == len(series):
        print "Successfully create and populate HBase for code {}!".format(code_name)
    else:
        if total_row == 0:
            print "ERROR: Failed to populate HBase table!"
        else:
            print "ERROR: Imcomplete HBase generated!"
    print "Done for this table!"
    
    return hbase_table

In [88]:
# read all downloaded CSV files, create HBase tables for each one
# It took around 0.5 second to parse each CSV file into HBase table, so here
# I only parsed 10 CSV files to demonstrate that it works

import pandas as pd

fred_codes_dir = "/Users/sundeepblue/Desktop/fred_codes"
all_items = os.listdir(fred_codes_dir)
how_many_to_parse = 10
for f in all_items[:how_many_to_parse]:
    if f.startswith("FRED"):
        code_name = f.split(".")[0]
        csv_file_path = os.path.join(fred_codes_dir, f)
        create_and_populate_hbase_table(code_name, csv_file_path)

Successfully create and populate HBase for code FRED_00XALCCHM086NEST!
Done for this table!
Successfully create and populate HBase for code FRED_00XALCFIM086NEST!
Done for this table!
Successfully create and populate HBase for code FRED_00XALCHRM086NEST!
Done for this table!
Successfully create and populate HBase for code FRED_00XAPFEEM086NEST!
Done for this table!
Successfully create and populate HBase for code FRED_00XE00EZ17M086NEST!
Done for this table!
Successfully create and populate HBase for code FRED_00XE00NOM086NEST!
Done for this table!
Successfully create and populate HBase for code FRED_00XEFDSEM086NEST!
Done for this table!
Successfully create and populate HBase for code FRED_00XESEHRM086NEST!
Done for this table!
Successfully create and populate HBase for code FRED_00XESEITM086NEST!
Done for this table!

# Create HBase table for S&P Index data

In [105]:
gspc_code_dir = "/Users/sundeepblue/Desktop/gspc_code"
csv_file_path = os.path.join(gspc_code_dir, "YAHOO_INDEX_GSPC.csv")
hbase_table = create_and_populate_hbase_table("YAHOO_INDEX_GSPC", csv_file_path)

Successfully create and populate HBase for code YAHOO_INDEX_GSPC!
Done for this table!

## Verify first 100 rows in the created HBase table

In [106]:
# show first 100 rows in the HBase table
rows_to_show = 100
for key, data in hbase_table.scan():
    if rows_to_show >= 0:
        print key, data
    rows_to_show -= 1

row1 {'cf:DATE': '1950-01-03', 'cf:ADJUSTED_PRICE': '16.66'}
row10 {'cf:DATE': '1950-01-16', 'cf:ADJUSTED_PRICE': '16.719999'}
row100 {'cf:DATE': '1950-05-25', 'cf:ADJUSTED_PRICE': '18.690001'}
row1000 {'cf:DATE': '1954-01-04', 'cf:ADJUSTED_PRICE': '24.950001'}
row10000 {'cf:DATE': '1989-10-12', 'cf:ADJUSTED_PRICE': '355.390015'}
row10001 {'cf:DATE': '1989-10-13', 'cf:ADJUSTED_PRICE': '333.649994'}
row10002 {'cf:DATE': '1989-10-16', 'cf:ADJUSTED_PRICE': '342.850006'}
row10003 {'cf:DATE': '1989-10-17', 'cf:ADJUSTED_PRICE': '341.160004'}
row10004 {'cf:DATE': '1989-10-18', 'cf:ADJUSTED_PRICE': '341.76001'}
row10005 {'cf:DATE': '1989-10-19', 'cf:ADJUSTED_PRICE': '347.130005'}
row10006 {'cf:DATE': '1989-10-20', 'cf:ADJUSTED_PRICE': '347.160004'}
row10007 {'cf:DATE': '1989-10-23', 'cf:ADJUSTED_PRICE': '344.829987'}
row10008 {'cf:DATE': '1989-10-24', 'cf:ADJUSTED_PRICE': '343.700012'}
row10009 {'cf:DATE': '1989-10-25', 'cf:ADJUSTED_PRICE': '342.5'}
row1001 {'cf:DATE': '1954-01-05', 'cf:ADJUSTED_PRICE': '25.1'}
row10010 {'cf:DATE': '1989-10-26', 'cf:ADJUSTED_PRICE': '337.929993'}
row10011 {'cf:DATE': '1989-10-27', 'cf:ADJUSTED_PRICE': '335.059998'}
row10012 {'cf:DATE': '1989-10-30', 'cf:ADJUSTED_PRICE': '335.070007'}
row10013 {'cf:DATE': '1989-10-31', 'cf:ADJUSTED_PRICE': '340.359985'}
row10014 {'cf:DATE': '1989-11-01', 'cf:ADJUSTED_PRICE': '341.200012'}
row10015 {'cf:DATE': '1989-11-02', 'cf:ADJUSTED_PRICE': '338.480011'}
row10016 {'cf:DATE': '1989-11-03', 'cf:ADJUSTED_PRICE': '337.619995'}
row10017 {'cf:DATE': '1989-11-06', 'cf:ADJUSTED_PRICE': '332.609985'}
row10018 {'cf:DATE': '1989-11-07', 'cf:ADJUSTED_PRICE': '334.809998'}
row10019 {'cf:DATE': '1989-11-08', 'cf:ADJUSTED_PRICE': '338.149994'}
row1002 {'cf:DATE': '1954-01-06', 'cf:ADJUSTED_PRICE': '25.139999'}
row10020 {'cf:DATE': '1989-11-09', 'cf:ADJUSTED_PRICE': '336.570007'}
row10021 {'cf:DATE': '1989-11-10', 'cf:ADJUSTED_PRICE': '339.100006'}
row10022 {'cf:DATE': '1989-11-13', 'cf:ADJUSTED_PRICE': '339.549988'}
row10023 {'cf:DATE': '1989-11-14', 'cf:ADJUSTED_PRICE': '337.98999'}
row10024 {'cf:DATE': '1989-11-15', 'cf:ADJUSTED_PRICE': '340.540009'}
row10025 {'cf:DATE': '1989-11-16', 'cf:ADJUSTED_PRICE': '340.579987'}
row10026 {'cf:DATE': '1989-11-17', 'cf:ADJUSTED_PRICE': '341.609985'}
row10027 {'cf:DATE': '1989-11-20', 'cf:ADJUSTED_PRICE': '339.350006'}
row10028 {'cf:DATE': '1989-11-21', 'cf:ADJUSTED_PRICE': '339.589996'}
row10029 {'cf:DATE': '1989-11-22', 'cf:ADJUSTED_PRICE': '341.910004'}
row1003 {'cf:DATE': '1954-01-07', 'cf:ADJUSTED_PRICE': '25.059999'}
row10030 {'cf:DATE': '1989-11-24', 'cf:ADJUSTED_PRICE': '343.970001'}
row10031 {'cf:DATE': '1989-11-27', 'cf:ADJUSTED_PRICE': '345.609985'}
row10032 {'cf:DATE': '1989-11-28', 'cf:ADJUSTED_PRICE': '345.769989'}
row10033 {'cf:DATE': '1989-11-29', 'cf:ADJUSTED_PRICE': '343.600006'}
row10034 {'cf:DATE': '1989-11-30', 'cf:ADJUSTED_PRICE': '345.98999'}
row10035 {'cf:DATE': '1989-12-01', 'cf:ADJUSTED_PRICE': '350.630005'}
row10036 {'cf:DATE': '1989-12-04', 'cf:ADJUSTED_PRICE': '351.410004'}
row10037 {'cf:DATE': '1989-12-05', 'cf:ADJUSTED_PRICE': '349.579987'}
row10038 {'cf:DATE': '1989-12-06', 'cf:ADJUSTED_PRICE': '348.549988'}
row10039 {'cf:DATE': '1989-12-07', 'cf:ADJUSTED_PRICE': '347.589996'}
row1004 {'cf:DATE': '1954-01-08', 'cf:ADJUSTED_PRICE': '24.93'}
row10040 {'cf:DATE': '1989-12-08', 'cf:ADJUSTED_PRICE': '348.690002'}
row10041 {'cf:DATE': '1989-12-11', 'cf:ADJUSTED_PRICE': '348.559998'}
row10042 {'cf:DATE': '1989-12-12', 'cf:ADJUSTED_PRICE': '351.730011'}
row10043 {'cf:DATE': '1989-12-13', 'cf:ADJUSTED_PRICE': '352.75'}
row10044 {'cf:DATE': '1989-12-14', 'cf:ADJUSTED_PRICE': '350.929993'}
row10045 {'cf:DATE': '1989-12-15', 'cf:ADJUSTED_PRICE': '350.140015'}
row10046 {'cf:DATE': '1989-12-18', 'cf:ADJUSTED_PRICE': '343.690002'}
row10047 {'cf:DATE': '1989-12-19', 'cf:ADJUSTED_PRICE': '342.459991'}
row10048 {'cf:DATE': '1989-12-20', 'cf:ADJUSTED_PRICE': '342.839996'}
row10049 {'cf:DATE': '1989-12-21', 'cf:ADJUSTED_PRICE': '344.779999'}
row1005 {'cf:DATE': '1954-01-11', 'cf:ADJUSTED_PRICE': '24.799999'}
row10050 {'cf:DATE': '1989-12-22', 'cf:ADJUSTED_PRICE': '347.420013'}
row10051 {'cf:DATE': '1989-12-26', 'cf:ADJUSTED_PRICE': '346.809998'}
row10052 {'cf:DATE': '1989-12-27', 'cf:ADJUSTED_PRICE': '348.809998'}
row10053 {'cf:DATE': '1989-12-28', 'cf:ADJUSTED_PRICE': '350.670013'}
row10054 {'cf:DATE': '1989-12-29', 'cf:ADJUSTED_PRICE': '353.399994'}
row10055 {'cf:DATE': '1990-01-02', 'cf:ADJUSTED_PRICE': '359.690002'}
row10056 {'cf:DATE': '1990-01-03', 'cf:ADJUSTED_PRICE': '358.76001'}
row10057 {'cf:DATE': '1990-01-04', 'cf:ADJUSTED_PRICE': '355.670013'}
row10058 {'cf:DATE': '1990-01-05', 'cf:ADJUSTED_PRICE': '352.200012'}
row10059 {'cf:DATE': '1990-01-08', 'cf:ADJUSTED_PRICE': '353.790009'}
row1006 {'cf:DATE': '1954-01-12', 'cf:ADJUSTED_PRICE': '24.93'}
row10060 {'cf:DATE': '1990-01-09', 'cf:ADJUSTED_PRICE': '349.619995'}
row10061 {'cf:DATE': '1990-01-10', 'cf:ADJUSTED_PRICE': '347.309998'}
row10062 {'cf:DATE': '1990-01-11', 'cf:ADJUSTED_PRICE': '348.529999'}
row10063 {'cf:DATE': '1990-01-12', 'cf:ADJUSTED_PRICE': '339.929993'}
row10064 {'cf:DATE': '1990-01-15', 'cf:ADJUSTED_PRICE': '337.0'}
row10065 {'cf:DATE': '1990-01-16', 'cf:ADJUSTED_PRICE': '340.75'}
row10066 {'cf:DATE': '1990-01-17', 'cf:ADJUSTED_PRICE': '337.399994'}
row10067 {'cf:DATE': '1990-01-18', 'cf:ADJUSTED_PRICE': '338.190002'}
row10068 {'cf:DATE': '1990-01-19', 'cf:ADJUSTED_PRICE': '339.149994'}
row10069 {'cf:DATE': '1990-01-22', 'cf:ADJUSTED_PRICE': '330.380005'}
row1007 {'cf:DATE': '1954-01-13', 'cf:ADJUSTED_PRICE': '25.07'}
row10070 {'cf:DATE': '1990-01-23', 'cf:ADJUSTED_PRICE': '331.609985'}
row10071 {'cf:DATE': '1990-01-24', 'cf:ADJUSTED_PRICE': '330.26001'}
row10072 {'cf:DATE': '1990-01-25', 'cf:ADJUSTED_PRICE': '326.079987'}
row10073 {'cf:DATE': '1990-01-26', 'cf:ADJUSTED_PRICE': '325.799988'}
row10074 {'cf:DATE': '1990-01-29', 'cf:ADJUSTED_PRICE': '325.200012'}
row10075 {'cf:DATE': '1990-01-30', 'cf:ADJUSTED_PRICE': '322.980011'}
row10076 {'cf:DATE': '1990-01-31', 'cf:ADJUSTED_PRICE': '329.079987'}
row10077 {'cf:DATE': '1990-02-01', 'cf:ADJUSTED_PRICE': '328.790009'}
row10078 {'cf:DATE': '1990-02-02', 'cf:ADJUSTED_PRICE': '330.920013'}
row10079 {'cf:DATE': '1990-02-05', 'cf:ADJUSTED_PRICE': '331.850006'}
row1008 {'cf:DATE': '1954-01-14', 'cf:ADJUSTED_PRICE': '25.190001'}
row10080 {'cf:DATE': '1990-02-06', 'cf:ADJUSTED_PRICE': '329.660004'}
row10081 {'cf:DATE': '1990-02-07', 'cf:ADJUSTED_PRICE': '333.75'}
row10082 {'cf:DATE': '1990-02-08', 'cf:ADJUSTED_PRICE': '332.959991'}
row10083 {'cf:DATE': '1990-02-09', 'cf:ADJUSTED_PRICE': '333.619995'}
row10084 {'cf:DATE': '1990-02-12', 'cf:ADJUSTED_PRICE': '330.079987'}
row10085 {'cf:DATE': '1990-02-13', 'cf:ADJUSTED_PRICE': '331.019989'}
row10086 {'cf:DATE': '1990-02-14', 'cf:ADJUSTED_PRICE': '332.01001'}
row10087 {'cf:DATE': '1990-02-15', 'cf:ADJUSTED_PRICE': '334.890015'}
row10088 {'cf:DATE': '1990-02-16', 'cf:ADJUSTED_PRICE': '332.720001'}

In [ ]:
# we can order the rows by row_key, but it is unnecessary here