In [1]:
from datetime import datetime

from pyspark import SparkContext, SQLContext
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, TimestampType, DoubleType, StringType

from sparkts.datetimeindex import uniform, BusinessDayFrequency
from sparkts.timeseriesrdd import time_series_rdd_from_observations

In [242]:
import sparkts.datetimeindex as dt

In [ ]:
dt.DayFrequency

In [3]:
def lineToRow(line):
    (year, month, day, symbol, volume, price) = line.split("\t")
    # Python 2.x compatible timestamp generation
    dt = datetime(int(year), int(month), int(day))
    return (dt, symbol, float(price))

def loadObservations(sparkContext, sqlContext, path):
    textFile = sparkContext.textFile(path)
    rowRdd = textFile.map(lineToRow)
    schema = StructType([
        StructField('timestamp', TimestampType(), nullable=True),
        StructField('symbol', StringType(), nullable=True),
        StructField('price', DoubleType(), nullable=True),
    ])
    return sqlContext.createDataFrame(rowRdd, schema);

In [3]:
!wget https://raw.githubusercontent.com/sryza/spark-ts-examples/master/data/ticker.tsv

--2016-10-06 17:14:18--  https://raw.githubusercontent.com/sryza/spark-ts-examples/master/data/ticker.tsv
Resolving raw.githubusercontent.com... 151.101.60.133
Connecting to raw.githubusercontent.com|151.101.60.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 105146 (103K) [text/plain]
Saving to: 'ticker.tsv.1'

ticker.tsv.1        100%[=====================>] 102.68K  --.-KB/s   in 0.1s

2016-10-06 17:14:19 (719 KB/s) - 'ticker.tsv.1' saved [105146/105146]

In [4]:
tickerObs = loadObservations(sc, sqlContext, "/Users/guillermobreto/Downloads/spark-timeseries/DOCS_REPO/spark-timeseries/ticker.tsv")

In [24]:
tickerObs.select("timestamp").take(3)

[Row(timestamp=datetime.datetime(2015, 8, 14, 0, 0)),
 Row(timestamp=datetime.datetime(2015, 9, 14, 0, 0)),
 Row(timestamp=datetime.datetime(2015, 9, 18, 0, 0))]

In [252]:
tickerObs.show(3, truncate=False)

+---------------------+------+------+
|timestamp            |symbol|price |
+---------------------+------+------+
|2015-08-14 00:00:00.0|ADP   |82.99 |
|2015-09-14 00:00:00.0|NKE   |111.78|
|2015-09-18 00:00:00.0|DO    |20.18 |
+---------------------+------+------+
only showing top 3 rows

In [29]:
tickerObs.printSchema()

root
 |-- timestamp: timestamp (nullable = true)
 |-- symbol: string (nullable = true)
 |-- price: double (nullable = true)

In [26]:

# Create an daily DateTimeIndex over August and September 2015
freq = BusinessDayFrequency(1, 1, sc)
dtIndex = uniform(start='2015-08-03T00:00-04:00', end='2015-09-22T00:00-04:00', freq=freq, sc=sc)

In [27]:
tickerTsrdd = time_series_rdd_from_observations(dtIndex, tickerObs, "timestamp", "symbol", "price")

In [28]:
tickerTsrdd.take(2)

[(u'AAL',
  array([ 41.71,  42.74,  42.96,  42.18,  41.49,  41.68,  42.7 ,  42.52,
          42.67,  42.88,  43.95,  43.63,  43.53,  41.98,  39.75,  37.62,
          37.5 ,  38.85,  39.03,  38.62,  38.98,  39.2 ,  41.51,  40.89,
          40.6 ,    nan,  40.8 ,  41.  ,  41.21,  42.15,  42.29,  42.64,
          43.06,  43.99,  43.49,  43.24,  41.19])),
 (u'AAPL',
  array([ 118.44  ,  114.64  ,  115.4   ,  115.13  ,  115.52  ,  119.6901,
          113.5499,  115.24  ,  115.15  ,  116.    ,  117.1601,  116.5   ,
          115.01  ,  112.65  ,  105.76  ,  103.155 ,  103.74  ,  109.625 ,
          112.92  ,  113.29  ,  112.76  ,  107.72  ,  112.34  ,  110.37  ,
          109.27  ,       nan,  112.21  ,  110.15  ,  112.57  ,  114.017 ,
          115.3   ,  116.28  ,  116.35  ,  113.92  ,  113.45  ,  115.23  ,
          113.432 ]))]

In [11]:

# Count the number of series (number of symbols)
print(tickerTsrdd.count())

# Impute missing values using linear interpolation
filled = tickerTsrdd.fill("linear")

# Compute return rates
returnRates = filled.return_rates()

104

In [12]:
filled.take(2)

[(u'AAL',
  array([ 41.71,  42.74,  42.96,  42.18,  41.49,  41.68,  42.7 ,  42.52,
          42.67,  42.88,  43.95,  43.63,  43.53,  41.98,  39.75,  37.62,
          37.5 ,  38.85,  39.03,  38.62,  38.98,  39.2 ,  41.51,  40.89,
          40.6 ,  40.7 ,  40.8 ,  41.  ,  41.21,  42.15,  42.29,  42.64,
          43.06,  43.99,  43.49,  43.24,  41.19])),
 (u'AAPL',
  array([ 118.44  ,  114.64  ,  115.4   ,  115.13  ,  115.52  ,  119.6901,
          113.5499,  115.24  ,  115.15  ,  116.    ,  117.1601,  116.5   ,
          115.01  ,  112.65  ,  105.76  ,  103.155 ,  103.74  ,  109.625 ,
          112.92  ,  113.29  ,  112.76  ,  107.72  ,  112.34  ,  110.37  ,
          109.27  ,  110.74  ,  112.21  ,  110.15  ,  112.57  ,  114.017 ,
          115.3   ,  116.28  ,  116.35  ,  113.92  ,  113.45  ,  115.23  ,
          113.432 ]))]

In [12]:
# Durbin-Watson test for serial correlation, ported from TimeSeriesStatisticalTests.scala
def dwtest(residuals):
    residsSum = residuals[0] * residuals[0]
    diffsSum = 0.0
    i = 1
    while i < len(residuals):
        residsSum += residuals[i] * residuals[i]
        diff = residuals[i] - residuals[i - 1]
        diffsSum += diff * diff
        i += 1
    return diffsSum / residsSum

# Compute Durbin-Watson stats for each series
# Swap ticker symbol and stats so min and max compare the statistic value, not the
# ticker names.
dwStats = returnRates.map_series(lambda row: (row[0], [dwtest(row[1])])).map(lambda x: (x[1], x[0]))

print(dwStats.min())
print(dwStats.max())

([0.99930539174187916], u'NFLX')
([2.3701164736953166], u'DISCK')

In [40]:
from sparkts.models import ARIMA

In [44]:
type(tickerTsrdd)

sparkts.timeseriesrdd.TimeSeriesRDD

In [42]:
arima_model = tickerTsrdd.map(lambda ts: ARIMA.fit_model(ts))

In [45]:
pwd

u'/Users/guillermobreto/Downloads/spark-timeseries/python'

In [46]:
mv /Users/guillermobreto/Downloads/FRED-datasets-codes.csv .

In [47]:
!head FRED-datasets-codes.csv

FRED/CGBD1819M,"Unemployment Rate - College Graduates - Bachelor's Degree, 18 to 19 years, Men"
FRED/DOTSRG3Q086SBEA,Personal consumption expenditures: Other services (chain-type price index)
FRED/Y804RL1Q225SBEA,Real imports of services: Transport
FRED/FYFSGDA188S,Federal Surplus or Deficit [-] as Percent of Gross Domestic Product
FRED/SMS16000001000000001,All Employees: Mining and Logging in Idaho
FRED/CGRA1819,"Unemployment Rate - College Graduates - Bachelor's Degree and Higher, 18 to 19 years"
FRED/CGBDUM1819,"Unemployment Level - College Graduates - Bachelor's Degree, 18 to 19 years, Men"
FRED/SMU26198046562200001A,"All Employees: Health Care: Hospitals in Detroit-Livonia-Dearborn, MI (MD)"
FRED/SMU29000004322000001,All Employees: Utilities in Missouri
FRED/PORT933MFGN,"Manufacturing Employment in Portsmouth, NH-ME (NECTA)"

In [8]:
import graphlab as gl

In [9]:
metadata = gl.SFrame.read_csv("FRED-datasets-codes.csv", header=False)

[INFO] graphlab.cython.cy_server: GraphLab Create v2.0.1 started. Logging: /tmp/graphlab_server_1476120295.log

This non-commercial license of GraphLab Create for academic use is assigned to kevglynn@gmail.com and will expire on May 03, 2017.

Finished parsing file /Users/guillermobreto/Downloads/spark-timeseries/python/FRED-datasets-codes.csv

Parsing completed. Parsed 100 lines in 0.248338 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/guillermobreto/Downloads/spark-timeseries/python/FRED-datasets-codes.csv

Parsing completed. Parsed 194824 lines in 0.34975 secs.

In [10]:
metadata["dataset_code"] = metadata["X1"].apply(lambda code: code.split("/")[1])

In [11]:
metadata.head(5)

Columns:
	X1	str
	X2	str
	dataset_code	str

Rows: 5

Data:
+---------------------------+-------------------------------+
|             X1            |               X2              |
+---------------------------+-------------------------------+
|       FRED/CGBD1819M      | Unemployment Rate - Colleg... |
|    FRED/DOTSRG3Q086SBEA   | Personal consumption expen... |
|    FRED/Y804RL1Q225SBEA   | Real imports of services: ... |
|      FRED/FYFSGDA188S     | Federal Surplus or Deficit... |
| FRED/SMS16000001000000001 | All Employees: Mining and ... |
+---------------------------+-------------------------------+
+----------------------+
|     dataset_code     |
+----------------------+
|      CGBD1819M       |
|   DOTSRG3Q086SBEA    |
|   Y804RL1Q225SBEA    |
|     FYFSGDA188S      |
| SMS16000001000000001 |
+----------------------+
[5 rows x 3 columns]

In [12]:
metadata[metadata["dataset_code"]=="EXPEF54171ALLEST"]

Columns:
	X1	str
	X2	str
	dataset_code	str

Rows: Unknown

Data:
+-----------------------+-------------------------------+------------------+
|           X1          |               X2              |   dataset_code   |
+-----------------------+-------------------------------+------------------+
| FRED/EXPEF54171ALLEST | Total Expense for Research... | EXPEF54171ALLEST |
+-----------------------+-------------------------------+------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

# Get the data

In [58]:
mkdir fred_data

In [59]:
cd fred_data/

/Users/guillermobreto/Downloads/spark-timeseries/python/fred_data

In [10]:
import subprocess
from subprocess import Popen

url = 'https://www.quandl.com/api/v3/datasets.csv?database_code=FRED&per_page=100&sort_by=id&page='
location = '/Users/guillermobreto/Downloads/spark-timeseries/python/fred_data'

for ts in range(500,1000):
    
    args = ['wget', '-r', '-l', '1', '-p', '-P', location, url + str(ts)]
    p = Popen(args, stdout=subprocess.PIPE)
    stdout, stderr = p.communicate()

In [5]:
!open ../fred_data/

The file /Users/guillermobreto/Downloads/spark-timeseries/fred_data does not exist.

In [1]:
pwd

u'/Users/guillermobreto/Downloads/spark-timeseries/python'

In [13]:
df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('./fred_data/www.quandl.com/api/v3/')

In [14]:
df.show(10, truncate=False)

+--------+-------------------+-------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------+---------------------+---------------------+-----------------+---------+-----------+-------+-----------+
|id      |dataset_code       |database_code|name                                                                                                                                                                                                     |description                                                                                                                                                                      |refreshed_at           |newest_available_date|oldest_available_date|column_names     |frequency|type       |premium|database_id|
+--------+-------------------+-------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------+---------------------+---------------------+-----------------+---------+-----------+-------+-----------+
|10919628|EXPEF54171ALLEST   |FRED         |Total Expense for Research and Development In The Physical, Engineering, and Life Sciences, All Establishments, Employer Firms                                                                           |Millions of Dollars Not Seasonally Adjusted, For further information, please refer to the US Census Bureau's Annual Services release, online at http://www.census.gov/services/. |2016-04-11 14:33:21 UTC|2014-01-01           |2003-01-01           |["DATE", "VALUE"]|annual   |Time Series|false  |118        |
|10919629|EXPEF54181ALLEST   |FRED         |Total Expense for Advertising Agencies, All Establishments, Employer Firms                                                                                                                               |Millions of Dollars Not Seasonally Adjusted, For further information, please refer to the US Census Bureau's Annual Services release, online at http://www.census.gov/services/. |2016-04-10 21:05:50 UTC|2014-01-01           |2003-01-01           |["DATE", "VALUE"]|annual   |Time Series|false  |118        |
|10919630|REVEF54181ALLEST   |FRED         |Total Revenue for Advertising Agencies, All Establishments, Employer Firms                                                                                                                               |Millions of Dollars Not Seasonally Adjusted, For further information, please refer to the US Census Bureau's Annual Services release, online at http://www.census.gov/services/. |2016-04-11 00:00:16 UTC|2014-01-01           |1998-01-01           |["DATE", "VALUE"]|annual   |Time Series|false  |118        |
|10919631|RPCHCIEF5171ALLEST |FRED         |Breakdown of Revenue by Type of Customer: Household Consumers and Individual Users for Wired Telecommunications Carriers, All Establishments, Employer Firms                                             |Millions of Dollars Not Seasonally Adjusted, For further information, please refer to the US Census Bureau's Annual Services release, online at http://www.census.gov/services/. |2016-04-11 14:34:45 UTC|2014-01-01           |2010-01-01           |["DATE", "VALUE"]|annual   |Time Series|false  |118        |
|10919632|REVEF484122TAXABL  |FRED         |Total Revenue for General Freight Trucking, Long-Distance, Less Than Truckload, Establishments Subject To Federal Income Tax, Employer Firms                                                             |Millions of Dollars Not Seasonally Adjusted, For further information, please refer to the US Census Bureau's Annual Services release, online at http://www.census.gov/services/. |2016-04-10 23:59:35 UTC|2014-01-01           |1998-01-01           |["DATE", "VALUE"]|annual   |Time Series|false  |118        |
|10919633|REVDITEF518ALLEST  |FRED         |Sources of Revenue: Data Processing, Information Technology (IT) Infrastructure Provisioning, and Hosting Services for Data Processing, Hosting, and Related Services, All Establishments, Employer Firms|Millions of Dollars Not Seasonally Adjusted, For further information, please refer to the US Census Bureau's Annual Services release, online at http://www.census.gov/services/. |2016-04-10 23:59:34 UTC|2014-01-01           |2010-01-01           |["DATE", "VALUE"]|annual   |Time Series|false  |118        |
|10919634|REVEF52392ALLEST   |FRED         |Total Revenue for Portfolio Management, All Establishments, Employer Firms                                                                                                                               |Millions of Dollars Not Seasonally Adjusted, For further information, please refer to the US Census Bureau's Annual Services release, online at http://www.census.gov/services/. |2016-04-10 21:33:15 UTC|2014-01-01           |1998-01-01           |["DATE", "VALUE"]|annual   |Time Series|false  |118        |
|10919635|EXPDACEF523ALLEST  |FRED         |Depreciation and Amortization Charges for Securities, Commodity Contracts, and Other Financial Investments and Related Activities, All Establishments, Employer Firms                                    |Millions of Dollars Not Seasonally Adjusted, For further information, please refer to the US Census Bureau's Annual Services release, online at http://www.census.gov/services/. |2016-04-10 21:05:48 UTC|2014-01-01           |2009-01-01           |["DATE", "VALUE"]|annual   |Time Series|false  |118        |
|10919636|EXPDACEF523XALLEST |FRED         |Depreciation and Amortization Charges for Securities, Commodity Contracts, and Other Financial Investments and Related Activities, All Establishments, Employer Firms                                    |Millions of Dollars Not Seasonally Adjusted, For further information, please refer to the US Census Bureau's Annual Services release, online at http://www.census.gov/services/. |2016-04-11 14:16:20 UTC|2007-01-01           |2005-01-01           |["DATE", "VALUE"]|annual   |Time Series|false  |118        |
|10919637|REVPITEF56152ALLEST|FRED         |Sources of Revenue: Pre-Packaged Tours - International Travel for Tour Operators, All Establishments, Employer Firms                                                                                     |Millions of Dollars Not Seasonally Adjusted, For further information, please refer to the US Census Bureau's Annual Services release, online at http://www.census.gov/services/. |2016-04-10 19:31:57 UTC|2014-01-01           |2010-01-01           |["DATE", "VALUE"]|annual   |Time Series|false  |118        |
+--------+-------------------+-------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------+---------------------+---------------------+-----------------+---------+-----------+-------+-----------+
only showing top 10 rows

In [8]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- dataset_code: string (nullable = true)
 |-- database_code: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- refreshed_at: string (nullable = true)
 |-- newest_available_date: string (nullable = true)
 |-- oldest_available_date: string (nullable = true)
 |-- column_names: string (nullable = true)
 |-- frequency: string (nullable = true)
 |-- type: string (nullable = true)
 |-- premium: boolean (nullable = true)
 |-- database_id: integer (nullable = true)

In [9]:
df.select("dataset_code").distinct().count()

10500

In [16]:
df.select(["newest_available_date","column_names"]).show()

+---------------------+-----------------+
|newest_available_date|     column_names|
+---------------------+-----------------+
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2007-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
|           2014-01-01|["DATE", "VALUE"]|
+---------------------+-----------------+
only showing top 20 rows

In [17]:
!head /Users/guillermobreto/Downloads/fred_timeseries_project/data/FRED-datasets-codes.csv

FRED/CGBD1819M,"Unemployment Rate - College Graduates - Bachelor's Degree, 18 to 19 years, Men"
FRED/DOTSRG3Q086SBEA,Personal consumption expenditures: Other services (chain-type price index)
FRED/Y804RL1Q225SBEA,Real imports of services: Transport
FRED/FYFSGDA188S,Federal Surplus or Deficit [-] as Percent of Gross Domestic Product
FRED/SMS16000001000000001,All Employees: Mining and Logging in Idaho
FRED/CGRA1819,"Unemployment Rate - College Graduates - Bachelor's Degree and Higher, 18 to 19 years"
FRED/CGBDUM1819,"Unemployment Level - College Graduates - Bachelor's Degree, 18 to 19 years, Men"
FRED/SMU26198046562200001A,"All Employees: Health Care: Hospitals in Detroit-Livonia-Dearborn, MI (MD)"
FRED/SMU29000004322000001,All Employees: Utilities in Missouri
FRED/PORT933MFGN,"Manufacturing Employment in Portsmouth, NH-ME (NECTA)"

In [27]:
df = sqlContext.read.format('com.databricks.spark.csv').\
options(header='true', inferschema='true').\
load('/Users/guillermobreto/Downloads/fred_timeseries_project/data/fred_codes/FRED_DOTSRG3Q086SBEA.csv')

In [28]:
df.show(4)

+----------+-----+
|      DATE|VALUE|
+----------+-----+
|1947-01-01|8.341|
|1947-04-01|8.392|
|1947-07-01|8.619|
|1947-10-01|8.737|
+----------+-----+
only showing top 4 rows

In [29]:
import pyspark.sql.functions as f

In [31]:
df = df.withColumn("name", f.lit("DOTSRG3Q086SBEA"))

In [32]:
df.show(3)

+----------+-----+---------------+
|      DATE|VALUE|           name|
+----------+-----+---------------+
|1947-01-01|8.341|DOTSRG3Q086SBEA|
|1947-04-01|8.392|DOTSRG3Q086SBEA|
|1947-07-01|8.619|DOTSRG3Q086SBEA|
+----------+-----+---------------+
only showing top 3 rows

In [261]:
rdd = sc.wholeTextFiles("/Users/guillermobreto/Downloads/fred_timeseries_project/data/fred_codes/")
print(rdd.count())
from pyspark.sql.functions import explode
import pyspark.sql.functions as f
from pyspark.sql.functions import udf
from datetime import datetime

from pyspark import SparkContext, SQLContext
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, TimestampType, DoubleType, StringType

from sparkts.datetimeindex import uniform, BusinessDayFrequency
from sparkts.timeseriesrdd import time_series_rdd_from_observations

import numpy as np
import pandas as pd


rdd_df = rdd.map(lambda r: (r[0].split("_")[2].strip(".csv"),filter(None, r[1].split("\n")[1:]))).toDF(["symbol","v"])



def grabValue(tup):
    if isinstance(tuple(tup), tuple):
        return float(tup.split(",")[1])
    else:
        return np.nan

def grabDate(tup):
    if isinstance(tuple(tup), tuple):
        return pd.to_datetime(tup.split(",")[0])
    else:
        return np.nan
    
def to_tuple(tup):
    if len(tup)>5:
        return tup.split(",")
    else:
        return ["This is not working", "for Now"]

 
udfgrabValue=udf(grabValue, DoubleType())
udfgrabDate=udf(grabDate, TimestampType())
udfto_tuple=udf(to_tuple, ArrayType(StringType()))


rdd_df_exp =  rdd_df.select([rdd_df.symbol,explode(rdd_df.v).alias("DATA-VALUE")])
rdd_df_exp = rdd_df_exp.withColumn("price", udfgrabValue("DATA-VALUE"))
rdd_df_exp = rdd_df_exp.withColumn("timestamp", udfgrabDate("DATA-VALUE"))
df = rdd_df_exp.select(["timestamp", "symbol", "price"])
dates = ("2003-01-01",  "2016-09-01")
date_from, date_to = [f.to_date(f.lit(s)).cast(TimestampType()) for s in dates]
df_filtered = df.where((df.timestamp > date_from) & (df.timestamp < date_to))
tickerTsrdd = time_series_rdd_from_observations(dtIndex, df_filtered, "timestamp", "symbol", "price")

40809

In [80]:
ls

DW_test-Copy1.ipynb      build/                   sparkts/
DW_test.ipynb            dist/                    sparkts.egg-info/
FRED-datasets-codes.csv  fred_data/               ticker.tsv
MANIFEST.in              setup.py                 ticker.tsv.1
Makefile                 source/

In [ ]:
rdd.count()

In [5]:
rdd =  sc.wholeTextFiles("/Users/guillermobreto/Desktop/sample_2/")
rdd.count()

In [6]:
rdd.count()

2

In [7]:
rdd.toDF().show()

+--------------------+--------------------+
|                  _1|                  _2|
+--------------------+--------------------+
|file:/Users/guill...|DATE,VALUE
2005-0...|
|file:/Users/guill...|DATE,VALUE
1996-0...|
+--------------------+--------------------+

In [55]:
rdd.toDF(["key","val"]).select("val").show(truncate=False)

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|val                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|DATE,VALUE
2005-01-01,97.0
2005-02-01,97.3
2005-03-01,97.4
2005-04-01,98.2
2005-05-01,98.2
2005-06-01,97.9
2005-07-01,97.3
2005-08-01,97.4
2005-09-01,97.8
2005-10-01,98.6
2005-11-01,98.4
2005-12-01,98.3
2006-01-01,98.2
2006-02-01,98.4
2006-03-01,98.4
2006-04-01,99.2
2006-05-01,99.3
2006-06-01,99.3
2006-07-01,98.6
2006-08-01,98.7
2006-09-01,98.5
2006-10-01,98.9
2006-11-01,98.8
2006-12-01,98.8
2007-01-01,98.2
2007-02-01,98.5
2007-03-01,98.6
2007-04-01,99.7
2007-05-01,99.8
2007-06-01,99.9
2007-07-01,99.3
2007-08-01,99.2
2007-09-01,99.3
2007-10-01,100.2
2007-11-01,100.6
2007-12-01,100.8
2008-01-01,100.8
2008-02-01,100.7
2008-03-01,101.0
2008-04-01,101.9
2008-05-01,102.5
2008-06-01,102.8
2008-07-01,102.6
2008-08-01,102.3
2008-09-01,102.1
2008-10-01,102.7
2008-11-01,101.7
2008-12-01,101.1
2009-01-01,100.6
2009-02-01,100.6
2009-03-01,100.3
2009-04-01,101.3
2009-05-01,101.2
2009-06-01,101.4
2009-07-01,101.0
2009-08-01,101.2
2009-09-01,100.9
2009-10-01,101.6
2009-11-01,101.5
2009-12-01,101.2
2010-01-01,101.4
2010-02-01,101.4
2010-03-01,101.7
2010-04-01,102.5
2010-05-01,102.2
2010-06-01,101.9
2010-07-01,101.4
2010-08-01,101.4
2010-09-01,101.2
2010-10-01,101.8
2010-11-01,101.7
2010-12-01,101.7
2011-01-01,101.4
2011-02-01,101.8
2011-03-01,102.6
2011-04-01,102.6
2011-05-01,102.5
2011-06-01,102.4
2011-07-01,101.5
2011-08-01,100.9
2011-09-01,101.5
2011-10-01,101.4
2011-11-01,100.9
2011-12-01,101.1
2012-01-01,100.4
2012-02-01,100.6
2012-03-01,101.4
2012-04-01,101.5
2012-05-01,101.2
2012-06-01,101.0
2012-07-01,100.7
2012-08-01,100.4
2012-09-01,101.1
2012-10-01,101.2
2012-11-01,100.7
2012-12-01,100.8
2013-01-01,100.3
2013-02-01,100.6
2013-03-01,101.0
2013-04-01,101.0
2013-05-01,101.0
2013-06-01,101.1
2013-07-01,101.2
2013-08-01,100.8
2013-09-01,101.3
2013-10-01,101.1
2013-11-01,100.8
2013-12-01,101.0
2014-01-01,100.4
2014-02-01,100.4
2014-03-01,100.9
2014-04-01,101.1
2014-05-01,101.1
2014-06-01,101.0
2014-07-01,101.0
2014-08-01,100.8
2014-09-01,101.2
2014-10-01,101.2
2014-11-01,100.9
2014-12-01,100.9
2015-01-01,100.29
2015-02-01,99.93
2015-03-01,100.4
2015-04-01,100.13
2015-05-01,100.2
2015-06-01,100.33
2015-07-01,100.13
2015-08-01,99.58
2015-09-01,99.93
2015-10-01,99.97
2015-11-01,99.62
2015-12-01,99.51
2016-01-01,98.79
2016-02-01,98.94
2016-03-01,99.33
2016-04-01,99.57
2016-05-01,99.71
2016-06-01,99.74
2016-07-01,99.66
2016-08-01,99.61
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |
|DATE,VALUE
1996-01-01,71.22
1996-02-01,71.56
1996-03-01,71.71
1996-04-01,71.86
1996-05-01,72.08
1996-06-01,72.06
1996-07-01,72.04
1996-08-01,71.79
1996-09-01,71.91
1996-10-01,72.02
1996-11-01,71.84
1996-12-01,71.93
1997-01-01,71.79
1997-02-01,71.89
1997-03-01,72.18
1997-04-01,72.44
1997-05-01,72.65
1997-06-01,72.75
1997-07-01,72.75
1997-08-01,72.92
1997-09-01,73.02
1997-10-01,73.14
1997-11-01,73.08
1997-12-01,73.09
1998-01-01,73.08
1998-02-01,73.06
1998-03-01,73.28
1998-04-01,73.67
1998-05-01,73.79
1998-06-01,73.92
1998-07-01,73.55
1998-08-01,73.69
1998-09-01,74.0
1998-10-01,73.92
1998-11-01,73.69
1998-12-01,73.66
1999-01-01,73.48
1999-02-01,73.71
1999-03-01,73.92
1999-04-01,74.54
1999-05-01,74.77
1999-06-01,74.75
1999-07-01,74.52
1999-08-01,74.64
1999-09-01,74.97
1999-10-01,75.07
1999-11-01,75.02
1999-12-01,75.32
2000-01-01,75.14
2000-02-01,75.72
2000-03-01,76.3
2000-04-01,76.43
2000-05-01,76.75
2000-06-01,77.07
2000-07-01,76.69
2000-08-01,76.78
2000-09-01,77.64
2000-10-01,77.7
2000-11-01,77.6
2000-12-01,77.44
2001-01-01,77.27
2001-02-01,77.8
2001-03-01,78.22
2001-04-01,78.64
2001-05-01,79.39
2001-06-01,79.45
2001-07-01,78.77
2001-08-01,78.93
2001-09-01,79.66
2001-10-01,79.6
2001-11-01,79.33
2001-12-01,79.27
2002-01-01,79.67
2002-02-01,79.83
2002-03-01,80.33
2002-04-01,80.67
2002-05-01,80.86
2002-06-01,80.66
2002-07-01,80.41
2002-08-01,80.38
2002-09-01,80.74
2002-10-01,80.97
2002-11-01,80.73
2002-12-01,80.73
2003-01-01,80.83
2003-02-01,81.54
2003-03-01,81.83
2003-04-01,81.81
2003-05-01,81.69
2003-06-01,81.6
2003-07-01,81.18
2003-08-01,81.34
2003-09-01,81.76
2003-10-01,81.69
2003-11-01,81.61
2003-12-01,81.7
2004-01-01,81.41
2004-02-01,81.87
2004-03-01,82.19
2004-04-01,82.21
2004-05-01,82.32
2004-06-01,82.27
2004-07-01,82.09
2004-08-01,82.31
2004-09-01,82.68
2004-10-01,83.0
2004-11-01,82.58
2004-12-01,82.58
2005-01-01,82.05
2005-02-01,82.61
2005-03-01,82.97
2005-04-01,83.22
2005-05-01,82.89
2005-06-01,83.11
2005-07-01,82.82
2005-08-01,83.09
2005-09-01,83.63
2005-10-01,83.6
2005-11-01,83.3
2005-12-01,83.38
2006-01-01,82.99
2006-02-01,83.66
2006-03-01,83.9
2006-04-01,84.37
2006-05-01,84.29
2006-06-01,84.31
2006-07-01,83.9
2006-08-01,84.17
2006-09-01,84.25
2006-10-01,84.39
2006-11-01,84.39
2006-12-01,84.42
2007-01-01,84.07
2007-02-01,84.62
2007-03-01,85.28
2007-04-01,85.69
2007-05-01,85.41
2007-06-01,85.55
2007-07-01,85.29
2007-08-01,85.29
2007-09-01,85.68
2007-10-01,85.94
2007-11-01,86.27
2007-12-01,86.06
2008-01-01,86.88
2008-02-01,87.3
2008-03-01,88.22
2008-04-01,88.38
2008-05-01,88.87
2008-06-01,89.19
2008-07-01,88.92
2008-08-01,89.18
2008-09-01,89.68
2008-10-01,89.65
2008-11-01,89.15
2008-12-01,88.85
2009-01-01,88.75
2009-02-01,89.38
2009-03-01,89.73
2009-04-01,89.92
2009-05-01,89.85
2009-06-01,90.26
2009-07-01,89.59
2009-08-01,90.0
2009-09-01,90.31
2009-10-01,89.64
2009-11-01,89.82
2009-12-01,89.98
2010-01-01,89.94
2010-02-01,90.28
2010-03-01,90.87
2010-04-01,91.15
2010-05-01,90.96
2010-06-01,91.19
2010-07-01,90.56
2010-08-01,90.93
2010-09-01,91.37
2010-10-01,91.77
2010-11-01,91.99
2010-12-01,92.51
2011-01-01,92.85

In [56]:
ele = rdd.toDF(["key","val"])

In [59]:
ele.show(2)

+--------------------+--------------------+
|                 key|                 val|
+--------------------+--------------------+
|file:/Users/guill...|DATE,VALUE
2005-0...|
|file:/Users/guill...|DATE,VALUE
1996-0...|
+--------------------+--------------------+

In [8]:
from pyspark.sql.functions import explode

In [9]:
import pyspark.sql.functions as f

In [10]:
rdd_df = rdd.map(lambda r: (r[0].split("_")[2].strip(".csv"),filter(None, r[1].split("\n")[1:]))).toDF(["symbol","v"])

In [11]:
rdd_df_exp =  rdd_df.select([rdd_df.symbol,explode(rdd_df.v).alias("DATA-VALUE")])

In [12]:
rdd_df_exp.show(2)

+----------------+---------------+
|          symbol|     DATA-VALUE|
+----------------+---------------+
|00XALCCHM086NEST|2005-01-01,97.0|
|00XALCCHM086NEST|2005-02-01,97.3|
+----------------+---------------+
only showing top 2 rows

In [13]:
rdd_df_exp.select("symbol").distinct().count()

2

In [169]:
import pandas as pd

In [19]:
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType, TimestampType, ArrayType

import numpy as np
import pandas as pd
def grabValue(tup):
    if isinstance(tuple(tup), tuple):
        return float(tup.split(",")[1])
    else:
        return np.nan

def grabDate(tup):
    if isinstance(tuple(tup), tuple):
        return pd.to_datetime(tup.split(",")[0])
    else:
        return np.nan
    
def to_tuple(tup):
    if len(tup)>5:
        return tup.split(",")
    else:
        return ["This is not working", "for Now"]

 
udfgrabValue=udf(grabValue, DoubleType())
udfgrabDate=udf(grabDate, TimestampType())
udfto_tuple=udf(to_tuple, ArrayType(StringType()))


rdd_df_exp =  rdd_df.select([rdd_df.symbol,explode(rdd_df.v).alias("DATA-VALUE")])

In [20]:
rdd_df_exp.printSchema()

root
 |-- symbol: string (nullable = true)
 |-- DATA-VALUE: string (nullable = true)

In [21]:
rdd_df_exp = rdd_df_exp.withColumn("price", udfgrabValue("DATA-VALUE"))
rdd_df_exp = rdd_df_exp.withColumn("timestamp", udfgrabDate("DATA-VALUE"))

In [22]:
rdd_df_exp.show(3)

+----------------+---------------+-----+--------------------+
|          symbol|     DATA-VALUE|price|           timestamp|
+----------------+---------------+-----+--------------------+
|00XALCCHM086NEST|2005-01-01,97.0| 97.0|2005-01-01 00:00:...|
|00XALCCHM086NEST|2005-02-01,97.3| 97.3|2005-02-01 00:00:...|
|00XALCCHM086NEST|2005-03-01,97.4| 97.4|2005-03-01 00:00:...|
+----------------+---------------+-----+--------------------+
only showing top 3 rows

In [23]:
rdd_df_exp.take(800)

[Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2005-01-01,97.0', price=97.0, timestamp=datetime.datetime(2005, 1, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2005-02-01,97.3', price=97.3, timestamp=datetime.datetime(2005, 2, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2005-03-01,97.4', price=97.4, timestamp=datetime.datetime(2005, 3, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2005-04-01,98.2', price=98.2, timestamp=datetime.datetime(2005, 4, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2005-05-01,98.2', price=98.2, timestamp=datetime.datetime(2005, 5, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2005-06-01,97.9', price=97.9, timestamp=datetime.datetime(2005, 6, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2005-07-01,97.3', price=97.3, timestamp=datetime.datetime(2005, 7, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2005-08-01,97.4', price=97.4, timestamp=datetime.datetime(2005, 8, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2005-09-01,97.8', price=97.8, timestamp=datetime.datetime(2005, 9, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2005-10-01,98.6', price=98.6, timestamp=datetime.datetime(2005, 10, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2005-11-01,98.4', price=98.4, timestamp=datetime.datetime(2005, 11, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2005-12-01,98.3', price=98.3, timestamp=datetime.datetime(2005, 12, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2006-01-01,98.2', price=98.2, timestamp=datetime.datetime(2006, 1, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2006-02-01,98.4', price=98.4, timestamp=datetime.datetime(2006, 2, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2006-03-01,98.4', price=98.4, timestamp=datetime.datetime(2006, 3, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2006-04-01,99.2', price=99.2, timestamp=datetime.datetime(2006, 4, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2006-05-01,99.3', price=99.3, timestamp=datetime.datetime(2006, 5, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2006-06-01,99.3', price=99.3, timestamp=datetime.datetime(2006, 6, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2006-07-01,98.6', price=98.6, timestamp=datetime.datetime(2006, 7, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2006-08-01,98.7', price=98.7, timestamp=datetime.datetime(2006, 8, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2006-09-01,98.5', price=98.5, timestamp=datetime.datetime(2006, 9, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2006-10-01,98.9', price=98.9, timestamp=datetime.datetime(2006, 10, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2006-11-01,98.8', price=98.8, timestamp=datetime.datetime(2006, 11, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2006-12-01,98.8', price=98.8, timestamp=datetime.datetime(2006, 12, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2007-01-01,98.2', price=98.2, timestamp=datetime.datetime(2007, 1, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2007-02-01,98.5', price=98.5, timestamp=datetime.datetime(2007, 2, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2007-03-01,98.6', price=98.6, timestamp=datetime.datetime(2007, 3, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2007-04-01,99.7', price=99.7, timestamp=datetime.datetime(2007, 4, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2007-05-01,99.8', price=99.8, timestamp=datetime.datetime(2007, 5, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2007-06-01,99.9', price=99.9, timestamp=datetime.datetime(2007, 6, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2007-07-01,99.3', price=99.3, timestamp=datetime.datetime(2007, 7, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2007-08-01,99.2', price=99.2, timestamp=datetime.datetime(2007, 8, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2007-09-01,99.3', price=99.3, timestamp=datetime.datetime(2007, 9, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2007-10-01,100.2', price=100.2, timestamp=datetime.datetime(2007, 10, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2007-11-01,100.6', price=100.6, timestamp=datetime.datetime(2007, 11, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2007-12-01,100.8', price=100.8, timestamp=datetime.datetime(2007, 12, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2008-01-01,100.8', price=100.8, timestamp=datetime.datetime(2008, 1, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2008-02-01,100.7', price=100.7, timestamp=datetime.datetime(2008, 2, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2008-03-01,101.0', price=101.0, timestamp=datetime.datetime(2008, 3, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2008-04-01,101.9', price=101.9, timestamp=datetime.datetime(2008, 4, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2008-05-01,102.5', price=102.5, timestamp=datetime.datetime(2008, 5, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2008-06-01,102.8', price=102.8, timestamp=datetime.datetime(2008, 6, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2008-07-01,102.6', price=102.6, timestamp=datetime.datetime(2008, 7, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2008-08-01,102.3', price=102.3, timestamp=datetime.datetime(2008, 8, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2008-09-01,102.1', price=102.1, timestamp=datetime.datetime(2008, 9, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2008-10-01,102.7', price=102.7, timestamp=datetime.datetime(2008, 10, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2008-11-01,101.7', price=101.7, timestamp=datetime.datetime(2008, 11, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2008-12-01,101.1', price=101.1, timestamp=datetime.datetime(2008, 12, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2009-01-01,100.6', price=100.6, timestamp=datetime.datetime(2009, 1, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2009-02-01,100.6', price=100.6, timestamp=datetime.datetime(2009, 2, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2009-03-01,100.3', price=100.3, timestamp=datetime.datetime(2009, 3, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2009-04-01,101.3', price=101.3, timestamp=datetime.datetime(2009, 4, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2009-05-01,101.2', price=101.2, timestamp=datetime.datetime(2009, 5, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2009-06-01,101.4', price=101.4, timestamp=datetime.datetime(2009, 6, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2009-07-01,101.0', price=101.0, timestamp=datetime.datetime(2009, 7, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2009-08-01,101.2', price=101.2, timestamp=datetime.datetime(2009, 8, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2009-09-01,100.9', price=100.9, timestamp=datetime.datetime(2009, 9, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2009-10-01,101.6', price=101.6, timestamp=datetime.datetime(2009, 10, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2009-11-01,101.5', price=101.5, timestamp=datetime.datetime(2009, 11, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2009-12-01,101.2', price=101.2, timestamp=datetime.datetime(2009, 12, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2010-01-01,101.4', price=101.4, timestamp=datetime.datetime(2010, 1, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2010-02-01,101.4', price=101.4, timestamp=datetime.datetime(2010, 2, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2010-03-01,101.7', price=101.7, timestamp=datetime.datetime(2010, 3, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2010-04-01,102.5', price=102.5, timestamp=datetime.datetime(2010, 4, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2010-05-01,102.2', price=102.2, timestamp=datetime.datetime(2010, 5, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2010-06-01,101.9', price=101.9, timestamp=datetime.datetime(2010, 6, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2010-07-01,101.4', price=101.4, timestamp=datetime.datetime(2010, 7, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2010-08-01,101.4', price=101.4, timestamp=datetime.datetime(2010, 8, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2010-09-01,101.2', price=101.2, timestamp=datetime.datetime(2010, 9, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2010-10-01,101.8', price=101.8, timestamp=datetime.datetime(2010, 10, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2010-11-01,101.7', price=101.7, timestamp=datetime.datetime(2010, 11, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2010-12-01,101.7', price=101.7, timestamp=datetime.datetime(2010, 12, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2011-01-01,101.4', price=101.4, timestamp=datetime.datetime(2011, 1, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2011-02-01,101.8', price=101.8, timestamp=datetime.datetime(2011, 2, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2011-03-01,102.6', price=102.6, timestamp=datetime.datetime(2011, 3, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2011-04-01,102.6', price=102.6, timestamp=datetime.datetime(2011, 4, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2011-05-01,102.5', price=102.5, timestamp=datetime.datetime(2011, 5, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2011-06-01,102.4', price=102.4, timestamp=datetime.datetime(2011, 6, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2011-07-01,101.5', price=101.5, timestamp=datetime.datetime(2011, 7, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2011-08-01,100.9', price=100.9, timestamp=datetime.datetime(2011, 8, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2011-09-01,101.5', price=101.5, timestamp=datetime.datetime(2011, 9, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2011-10-01,101.4', price=101.4, timestamp=datetime.datetime(2011, 10, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2011-11-01,100.9', price=100.9, timestamp=datetime.datetime(2011, 11, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2011-12-01,101.1', price=101.1, timestamp=datetime.datetime(2011, 12, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2012-01-01,100.4', price=100.4, timestamp=datetime.datetime(2012, 1, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2012-02-01,100.6', price=100.6, timestamp=datetime.datetime(2012, 2, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2012-03-01,101.4', price=101.4, timestamp=datetime.datetime(2012, 3, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2012-04-01,101.5', price=101.5, timestamp=datetime.datetime(2012, 4, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2012-05-01,101.2', price=101.2, timestamp=datetime.datetime(2012, 5, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2012-06-01,101.0', price=101.0, timestamp=datetime.datetime(2012, 6, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2012-07-01,100.7', price=100.7, timestamp=datetime.datetime(2012, 7, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2012-08-01,100.4', price=100.4, timestamp=datetime.datetime(2012, 8, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2012-09-01,101.1', price=101.1, timestamp=datetime.datetime(2012, 9, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2012-10-01,101.2', price=101.2, timestamp=datetime.datetime(2012, 10, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2012-11-01,100.7', price=100.7, timestamp=datetime.datetime(2012, 11, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2012-12-01,100.8', price=100.8, timestamp=datetime.datetime(2012, 12, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2013-01-01,100.3', price=100.3, timestamp=datetime.datetime(2013, 1, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2013-02-01,100.6', price=100.6, timestamp=datetime.datetime(2013, 2, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2013-03-01,101.0', price=101.0, timestamp=datetime.datetime(2013, 3, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2013-04-01,101.0', price=101.0, timestamp=datetime.datetime(2013, 4, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2013-05-01,101.0', price=101.0, timestamp=datetime.datetime(2013, 5, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2013-06-01,101.1', price=101.1, timestamp=datetime.datetime(2013, 6, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2013-07-01,101.2', price=101.2, timestamp=datetime.datetime(2013, 7, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2013-08-01,100.8', price=100.8, timestamp=datetime.datetime(2013, 8, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2013-09-01,101.3', price=101.3, timestamp=datetime.datetime(2013, 9, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2013-10-01,101.1', price=101.1, timestamp=datetime.datetime(2013, 10, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2013-11-01,100.8', price=100.8, timestamp=datetime.datetime(2013, 11, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2013-12-01,101.0', price=101.0, timestamp=datetime.datetime(2013, 12, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2014-01-01,100.4', price=100.4, timestamp=datetime.datetime(2014, 1, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2014-02-01,100.4', price=100.4, timestamp=datetime.datetime(2014, 2, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2014-03-01,100.9', price=100.9, timestamp=datetime.datetime(2014, 3, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2014-04-01,101.1', price=101.1, timestamp=datetime.datetime(2014, 4, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2014-05-01,101.1', price=101.1, timestamp=datetime.datetime(2014, 5, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2014-06-01,101.0', price=101.0, timestamp=datetime.datetime(2014, 6, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2014-07-01,101.0', price=101.0, timestamp=datetime.datetime(2014, 7, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2014-08-01,100.8', price=100.8, timestamp=datetime.datetime(2014, 8, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2014-09-01,101.2', price=101.2, timestamp=datetime.datetime(2014, 9, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2014-10-01,101.2', price=101.2, timestamp=datetime.datetime(2014, 10, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2014-11-01,100.9', price=100.9, timestamp=datetime.datetime(2014, 11, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2014-12-01,100.9', price=100.9, timestamp=datetime.datetime(2014, 12, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2015-01-01,100.29', price=100.29, timestamp=datetime.datetime(2015, 1, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2015-02-01,99.93', price=99.93, timestamp=datetime.datetime(2015, 2, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2015-03-01,100.4', price=100.4, timestamp=datetime.datetime(2015, 3, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2015-04-01,100.13', price=100.13, timestamp=datetime.datetime(2015, 4, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2015-05-01,100.2', price=100.2, timestamp=datetime.datetime(2015, 5, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2015-06-01,100.33', price=100.33, timestamp=datetime.datetime(2015, 6, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2015-07-01,100.13', price=100.13, timestamp=datetime.datetime(2015, 7, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2015-08-01,99.58', price=99.58, timestamp=datetime.datetime(2015, 8, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2015-09-01,99.93', price=99.93, timestamp=datetime.datetime(2015, 9, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2015-10-01,99.97', price=99.97, timestamp=datetime.datetime(2015, 10, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2015-11-01,99.62', price=99.62, timestamp=datetime.datetime(2015, 11, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2015-12-01,99.51', price=99.51, timestamp=datetime.datetime(2015, 12, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2016-01-01,98.79', price=98.79, timestamp=datetime.datetime(2016, 1, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2016-02-01,98.94', price=98.94, timestamp=datetime.datetime(2016, 2, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2016-03-01,99.33', price=99.33, timestamp=datetime.datetime(2016, 3, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2016-04-01,99.57', price=99.57, timestamp=datetime.datetime(2016, 4, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2016-05-01,99.71', price=99.71, timestamp=datetime.datetime(2016, 5, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2016-06-01,99.74', price=99.74, timestamp=datetime.datetime(2016, 6, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2016-07-01,99.66', price=99.66, timestamp=datetime.datetime(2016, 7, 1, 0, 0)),
 Row(symbol=u'00XALCCHM086NEST', DATA-VALUE=u'2016-08-01,99.61', price=99.61, timestamp=datetime.datetime(2016, 8, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1996-01-01,71.22', price=71.22, timestamp=datetime.datetime(1996, 1, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1996-02-01,71.56', price=71.56, timestamp=datetime.datetime(1996, 2, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1996-03-01,71.71', price=71.71, timestamp=datetime.datetime(1996, 3, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1996-04-01,71.86', price=71.86, timestamp=datetime.datetime(1996, 4, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1996-05-01,72.08', price=72.08, timestamp=datetime.datetime(1996, 5, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1996-06-01,72.06', price=72.06, timestamp=datetime.datetime(1996, 6, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1996-07-01,72.04', price=72.04, timestamp=datetime.datetime(1996, 7, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1996-08-01,71.79', price=71.79, timestamp=datetime.datetime(1996, 8, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1996-09-01,71.91', price=71.91, timestamp=datetime.datetime(1996, 9, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1996-10-01,72.02', price=72.02, timestamp=datetime.datetime(1996, 10, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1996-11-01,71.84', price=71.84, timestamp=datetime.datetime(1996, 11, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1996-12-01,71.93', price=71.93, timestamp=datetime.datetime(1996, 12, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1997-01-01,71.79', price=71.79, timestamp=datetime.datetime(1997, 1, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1997-02-01,71.89', price=71.89, timestamp=datetime.datetime(1997, 2, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1997-03-01,72.18', price=72.18, timestamp=datetime.datetime(1997, 3, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1997-04-01,72.44', price=72.44, timestamp=datetime.datetime(1997, 4, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1997-05-01,72.65', price=72.65, timestamp=datetime.datetime(1997, 5, 1, 0, 0)),
 Row(symbol=u'00XALCFIM086NEST', DATA-VALUE=u'1997-06-01,72.75', price=72.75, timestamp=datetime.datetime(1997, 6, 1, 0, 0)),

In [24]:
x = rdd_df_exp.select(["timestamp", "symbol", "price"])

In [26]:
x.show(2)

+--------------------+----------------+-----+
|           timestamp|          symbol|price|
+--------------------+----------------+-----+
|2005-01-01 00:00:...|00XALCCHM086NEST| 97.0|
|2005-02-01 00:00:...|00XALCCHM086NEST| 97.3|
+--------------------+----------------+-----+
only showing top 2 rows

In [97]:
dates = ("2005-01-01",  "2005-05-01")
date_from, date_to = [f.to_date(f.lit(s)).cast(TimestampType()) for s in dates]
df_filtered = x.where((x.timestamp > date_from) & (x.timestamp < date_to))

In [98]:
df_filtered = x.where((x.timestamp > date_from) & (x.timestamp < date_to))

In [105]:
df_filtered.groupBy(["timestamp", "symbol"]).agg({"price": "avg"}).show(10, truncate=False)

+---------------------+----------------+----------+
|timestamp            |symbol          |avg(price)|
+---------------------+----------------+----------+
|2005-02-01 00:00:00.0|00XALCCHM086NEST|97.3      |
|2005-03-01 00:00:00.0|00XALCCHM086NEST|97.4      |
|2005-02-01 00:00:00.0|00XALCFIM086NEST|82.61     |
|2005-04-01 00:00:00.0|00XALCFIM086NEST|83.22     |
|2005-04-01 00:00:00.0|00XALCCHM086NEST|98.2      |
|2005-03-01 00:00:00.0|00XALCFIM086NEST|82.97     |
+---------------------+----------------+----------+

In [227]:
df_filtered.show(10, truncate=False)

+---------------------+----------------+-----+
|timestamp            |symbol          |price|
+---------------------+----------------+-----+
|2005-02-01 00:00:00.0|00XALCCHM086NEST|97.3 |
|2005-03-01 00:00:00.0|00XALCCHM086NEST|97.4 |
|2005-04-01 00:00:00.0|00XALCCHM086NEST|98.2 |
|2005-02-01 00:00:00.0|00XALCFIM086NEST|82.61|
|2005-03-01 00:00:00.0|00XALCFIM086NEST|82.97|
|2005-04-01 00:00:00.0|00XALCFIM086NEST|83.22|
+---------------------+----------------+-----+

In [231]:
df_filtered.select("timestamp").take(3)

[Row(timestamp=datetime.datetime(2005, 2, 1, 0, 0)),
 Row(timestamp=datetime.datetime(2005, 3, 1, 0, 0)),
 Row(timestamp=datetime.datetime(2005, 4, 1, 0, 0))]

In [75]:

from datetime import datetime

from pyspark import SparkContext, SQLContext
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, TimestampType, DoubleType, StringType

from sparkts.datetimeindex import uniform, BusinessDayFrequency
from sparkts.timeseriesrdd import time_series_rdd_from_observations

In [243]:
from sparkts.datetimeindex import DayFrequency

In [245]:
freq = DayFrequency(1,sc)

In [258]:
freq = BusinessDayFrequency(1, 1, sc)
dtIndex = uniform(start='2005-02-01T00:00-05:00', end='2005-06-01T00:00-05:00', freq=freq, sc=sc)

In [254]:
BusinessDayFrequency?

In [239]:
x.show(3)

+--------------------+----------------+-----+
|           timestamp|          symbol|price|
+--------------------+----------------+-----+
|2005-01-01 00:00:...|00XALCCHM086NEST| 97.0|
|2005-02-01 00:00:...|00XALCCHM086NEST| 97.3|
|2005-03-01 00:00:...|00XALCCHM086NEST| 97.4|
+--------------------+----------------+-----+
only showing top 3 rows

In [259]:
tickerTsrdd = time_series_rdd_from_observations(dtIndex, df_filtered, "timestamp", "symbol", "price")

In [260]:
tickerTsrdd.take(2)

[(u'00XALCCHM086NEST',
  array([ 97.3,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
           nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
           nan,   nan,  97.4,   nan,   nan,   nan,   nan,   nan,   nan,
           nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
           nan,   nan,   nan,   nan,   nan,   nan,   nan,  98.2,   nan,
           nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
           nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
           nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
           nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
           nan,   nan,   nan,   nan,   nan,   nan])),
 (u'00XALCFIM086NEST',
  array([ 82.61,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
            nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
            nan,    nan,    nan,    nan,  82.97,    nan,    nan,    nan,
            nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
            nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
            nan,    nan,    nan,  83.22,    nan,    nan,    nan,    nan,
            nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
            nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
            nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
            nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
            nan,    nan,    nan,    nan,    nan,    nan,    nan]))]

In [92]:
%matplotlib inline 
import matplotlib.pyplot as plt

In [265]:
rdd = sc.wholeTextFiles("/Users/guillermobreto/Downloads/fred_timeseries_project/data/fred_codes/")
rdd.count()
from pyspark.sql.functions import explode
import pyspark.sql.functions as f
rdd_df = rdd.map(lambda r: (r[0].split("/")[-1].strip(".csv"),filter(None, r[1].split("\n")[1:]))).toDF(["symbol","v"])
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType, TimestampType, ArrayType

import numpy as np
import pandas as pd
def grabValue(tup):
    if isinstance(tuple(tup), tuple):
        return float(tup.split(",")[1])
    else:
        return np.nan

def grabDate(tup):
    if isinstance(tuple(tup), tuple):
        return pd.to_datetime(tup.split(",")[0])
    else:
        return np.nan
    
def to_tuple(tup):
    if len(tup)>5:
        return tup.split(",")
    else:
        return ["This is not working", "for Now"]

 
udfgrabValue=udf(grabValue, DoubleType())
udfgrabDate=udf(grabDate, TimestampType())
udfto_tuple=udf(to_tuple, ArrayType(StringType()))


rdd_df_exp =  rdd_df.select([rdd_df.symbol,explode(rdd_df.v).alias("DATA-VALUE")])
rdd_df_exp = rdd_df_exp.withColumn("price", udfgrabValue("DATA-VALUE"))
rdd_df_exp = rdd_df_exp.withColumn("timestamp", udfgrabDate("DATA-VALUE"))
df = rdd_df_exp.select(["timestamp", "symbol", "price"])
dates = ("2003-01-01",  "2016-09-01")
date_from, date_to = [f.to_date(f.lit(s)).cast(TimestampType()) for s in dates]
df_filtered = df.where((df.timestamp > date_from) & (df.timestamp < date_to))
tickerTsrdd = time_series_rdd_from_observations(dtIndex, df_filtered, "timestamp", "symbol", "price")


from datetime import datetime

from pyspark import SparkContext, SQLContext
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, TimestampType, DoubleType, StringType

from sparkts.datetimeindex import uniform, BusinessDayFrequency
from sparkts.timeseriesrdd import time_series_rdd_from_observations
freq = BusinessDayFrequency(1, 1, sc)
dtIndex = uniform(start='2000-01-01T00:00-05:00', end='2015-10-10T00:00-05:00', freq=freq, sc=sc)

In [267]:
df.show(3, truncate=False)

+---------------------+---------------------+-----+
|timestamp            |symbol               |price|
+---------------------+---------------------+-----+
|2005-01-01 00:00:00.0|FRED_00XALCCHM086NEST|97.0 |
|2005-02-01 00:00:00.0|FRED_00XALCCHM086NEST|97.3 |
|2005-03-01 00:00:00.0|FRED_00XALCCHM086NEST|97.4 |
+---------------------+---------------------+-----+
only showing top 3 rows

In [269]:
rdd_df.select("symbol").distinct().count()

40809

In [270]:
rdd_df.show(3)

+--------------------+--------------------+
|              symbol|                   v|
+--------------------+--------------------+
|FRED_00XALCCHM086...|[2005-01-01,97.0,...|
|FRED_00XALCFIM086...|[1996-01-01,71.22...|
|FRED_00XALCHRM086...|[2004-12-01,81.32...|
+--------------------+--------------------+
only showing top 3 rows

In [273]:
>>> from pyspark.sql.types import IntegerType
>>> slen = udf(lambda s: len(s), IntegerType())
new_df =rdd_df.withColumn("lengh", (slen(rdd_df.v).alias('slen')))

In [274]:
new_df.show(3)

+--------------------+--------------------+-----+
|              symbol|                   v|lengh|
+--------------------+--------------------+-----+
|FRED_00XALCCHM086...|[2005-01-01,97.0,...|  140|
|FRED_00XALCFIM086...|[1996-01-01,71.22...|  248|
|FRED_00XALCHRM086...|[2004-12-01,81.32...|  141|
+--------------------+--------------------+-----+
only showing top 3 rows

In [275]:
rdd_df_exp =  rdd_df.select([rdd_df.symbol,explode(rdd_df.v).alias("DATA-VALUE")])

In [276]:
new_df =rdd_df_exp.withColumn("lengh", (slen(rdd_df_exp["DATA-VALUE"]).alias('slen')))

In [277]:
new_df.show(3)

+--------------------+---------------+-----+
|              symbol|     DATA-VALUE|lengh|
+--------------------+---------------+-----+
|FRED_00XALCCHM086...|2005-01-01,97.0|   15|
|FRED_00XALCCHM086...|2005-02-01,97.3|   15|
|FRED_00XALCCHM086...|2005-03-01,97.4|   15|
+--------------------+---------------+-----+
only showing top 3 rows

In [279]:
new_df.printSchema()

root
 |-- symbol: string (nullable = true)
 |-- DATA-VALUE: string (nullable = true)
 |-- lengh: integer (nullable = true)

In [278]:
>>> from pyspark.sql import functions as F
>>> new_df.agg(F.min(new_df.lengh)).collect()

[Row(min(lengh)=14)]

In [284]:
dateUdf = udf(lambda s: s.split(",")[0], StringType())
valueUdf = udf(lambda s: s.split(",")[1], DoubleType())


f.to_date(f.lit(s)).cast(TimestampType())

new_df =rdd_df_exp.withColumn("Date", (f.to_date(f.lit(dateUdf(rdd_df_exp["DATA-VALUE"]))).cast(TimestampType())))

In [285]:
new_df.show(3)

+--------------------+---------------+--------------------+
|              symbol|     DATA-VALUE|                Date|
+--------------------+---------------+--------------------+
|FRED_00XALCCHM086...|2005-01-01,97.0|2005-01-01 00:00:...|
|FRED_00XALCCHM086...|2005-02-01,97.3|2005-02-01 00:00:...|
|FRED_00XALCCHM086...|2005-03-01,97.4|2005-03-01 00:00:...|
+--------------------+---------------+--------------------+
only showing top 3 rows

In [286]:
new_df.select("symbol").distinct().count()

40809

In [291]:
valueUdf = udf(lambda s: float(s.split(",")[1]), DoubleType())
dateUdf = udf(lambda s: s.split(",")[0], StringType())
new_df =rdd_df_exp.withColumn("Date", (f.to_date(f.lit(dateUdf(rdd_df_exp["DATA-VALUE"]))).cast(TimestampType())))
new_df =new_df.withColumn("price", valueUdf(new_df["DATA-VALUE"]))

In [292]:
new_df.show(3)

+--------------------+---------------+--------------------+-----+
|              symbol|     DATA-VALUE|                Date|price|
+--------------------+---------------+--------------------+-----+
|FRED_00XALCCHM086...|2005-01-01,97.0|2005-01-01 00:00:...| 97.0|
|FRED_00XALCCHM086...|2005-02-01,97.3|2005-02-01 00:00:...| 97.3|
|FRED_00XALCCHM086...|2005-03-01,97.4|2005-03-01 00:00:...| 97.4|
+--------------------+---------------+--------------------+-----+
only showing top 3 rows

In [293]:
new_df.select("symbol").distinct().count()

40809

In [315]:
#freq = BusinessDayFrequency(1, 1, sc)
freq = DayFrequency(1,sc)
dtIndex = uniform(start='2005-02-01T00:00-05:00', end='2016-10-01T00:00-05:00', freq=freq, sc=sc)

In [316]:

dates = ("2005-01-01",  "2016-10-01")
date_from, date_to = [f.to_date(f.lit(s)).cast(TimestampType()) for s in dates]
df_filtered = new_df.where((new_df.Date > date_from) & (new_df.Date < date_to))

In [317]:
df_filtered.show(3)

+--------------------+---------------+--------------------+-----+
|              symbol|     DATA-VALUE|                Date|price|
+--------------------+---------------+--------------------+-----+
|FRED_00XALCCHM086...|2005-02-01,97.3|2005-02-01 00:00:...| 97.3|
|FRED_00XALCCHM086...|2005-03-01,97.4|2005-03-01 00:00:...| 97.4|
|FRED_00XALCCHM086...|2005-04-01,98.2|2005-04-01 00:00:...| 98.2|
+--------------------+---------------+--------------------+-----+
only showing top 3 rows

In [318]:
df = df_filtered.select(["symbol", "Date", "price"])
df = df.withColumnRenamed("Date", "timestamp")

In [319]:
df.show()

+--------------------+--------------------+-----+
|              symbol|           timestamp|price|
+--------------------+--------------------+-----+
|FRED_00XALCCHM086...|2005-02-01 00:00:...| 97.3|
|FRED_00XALCCHM086...|2005-03-01 00:00:...| 97.4|
|FRED_00XALCCHM086...|2005-04-01 00:00:...| 98.2|
|FRED_00XALCCHM086...|2005-05-01 00:00:...| 98.2|
|FRED_00XALCCHM086...|2005-06-01 00:00:...| 97.9|
|FRED_00XALCCHM086...|2005-07-01 00:00:...| 97.3|
|FRED_00XALCCHM086...|2005-08-01 00:00:...| 97.4|
|FRED_00XALCCHM086...|2005-09-01 00:00:...| 97.8|
|FRED_00XALCCHM086...|2005-10-01 00:00:...| 98.6|
|FRED_00XALCCHM086...|2005-11-01 00:00:...| 98.4|
|FRED_00XALCCHM086...|2005-12-01 00:00:...| 98.3|
|FRED_00XALCCHM086...|2006-01-01 00:00:...| 98.2|
|FRED_00XALCCHM086...|2006-02-01 00:00:...| 98.4|
|FRED_00XALCCHM086...|2006-03-01 00:00:...| 98.4|
|FRED_00XALCCHM086...|2006-04-01 00:00:...| 99.2|
|FRED_00XALCCHM086...|2006-05-01 00:00:...| 99.3|
|FRED_00XALCCHM086...|2006-06-01 00:00:...| 99.3|
|FRED_00XALCCHM086...|2006-07-01 00:00:...| 98.6|
|FRED_00XALCCHM086...|2006-08-01 00:00:...| 98.7|
|FRED_00XALCCHM086...|2006-09-01 00:00:...| 98.5|
+--------------------+--------------------+-----+
only showing top 20 rows

In [320]:
tickerTsrdd = time_series_rdd_from_observations(dtIndex, df, "timestamp", "symbol", "price")

In [321]:
tickerTsrdd.take(3)

[(u'FRED_00XALCCHM086NEST',
  array([ 97.3,   nan,   nan, ...,   nan,   nan,   nan])),
 (u'FRED_00XALCFIM086NEST',
  array([ 82.61,    nan,    nan, ...,    nan,    nan,    nan])),
 (u'FRED_00XAPFEEM086NEST',
  array([ 68.34,    nan,    nan, ...,    nan,    nan,    nan]))]

In [322]:
filled = tickerTsrdd.fill("linear")

In [323]:
filled.take(2)

[(u'FRED_00XALCCHM086NEST',
  array([ 97.3       ,  97.30357143,  97.30714286, ...,          nan,
                  nan,          nan])),
 (u'FRED_00XALCFIM086NEST',
  array([ 82.61      ,  82.62285714,  82.63571429, ...,          nan,
                  nan,          nan]))]

In [326]:
previous = filled.fill("previous")

In [327]:
previous.take(3)

[(u'FRED_00XALCCHM086NEST',
  array([ 97.3       ,  97.30357143,  97.30714286, ...,  99.61      ,
          99.61      ,  99.61      ])),
 (u'FRED_00XALCFIM086NEST',
  array([  82.61      ,   82.62285714,   82.63571429, ...,  100.27      ,
          100.27      ,  100.27      ])),
 (u'FRED_00XAPFEEM086NEST',
  array([  68.34      ,   68.34678571,   68.35357143, ...,  101.52      ,
          101.52      ,  101.52      ]))]

In [328]:
rr = previous.return_rates()

In [329]:
rr.take(3)

[(u'FRED_00XALCCHM086NEST',
  array([  3.67053296e-05,   3.67039824e-05,   3.67026352e-05, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00])),
 (u'FRED_00XALCFIM086NEST',
  array([ 0.00015564,  0.00015561,  0.00015559, ...,  0.        ,
          0.        ,  0.        ])),
 (u'FRED_00XAPFEEM086NEST',
  array([  9.92934487e-05,   9.92835905e-05,   9.92737343e-05, ...,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00]))]